name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build-image:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - name: retreive code
      uses: actions/checkout@v3
    - name: Login to GitHub Packages Docker Registry
      uses: docker/login-action@v1
      with:
         registry: ghcr.io
         username: ${{ github.actor }}
         password: ${{ secrets.GITHUB_TOKEN }}
    # Currently required, because buildx doesn't support auto-push from docker
    - name: Set up builder
      uses: docker/setup-buildx-action@v1
      id: buildx

    - name: Extract metadata (tags, labels) for Docker
      id: meta
      uses: docker/metadata-action@v2
      with:
        images: |
          ghcr.io/${{ github.repository }}

    - name: Build and push image
      uses: docker/build-push-action@v2
      with:
        builder: ${{ steps.buildx.outputs.name }}
        file: Dockerfile
        push: true
        platforms: linux/amd64
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.output.labels }}
